header {
  background-color: rgb(128, 126, 126);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
}
header * {
  display: inline;
}
header li a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}
header li {
  margin: 20px;
}
header button {
  margin-left: 900px;
  background-color: rgb(128, 126, 126);
  border: none;
  color: white;
}
