<div class="container">
  <form [formGroup]="searchForm" (ngSubmit)="toEmitUserData()">
    <div class="form">
      <div class="col1">
        <div>
          <label for="fromLocation">From</label>
          <input
            type="text"
            name="fromLoc"
            class="form-control"
            formControlName="fromLoc"
          />
          <small
            *ngIf="
              !searchForm.get('fromLoc').valid &&
              searchForm.get('toLoc').touched
            "
          >
            Please enter the required field*
          </small>
          <small *ngIf="searchForm.get('fromLoc').hasError('minlength')">
            Minimum length should be 3 characters.
          </small>
          <small *ngIf="searchForm.get('fromLoc').hasError('maxlength')"
            >Maximum length should be 50 characters.</small
          >
          <small *ngIf="searchForm.get('fromLoc').hasError('invalidName')">
            Invalid name format (only letters and spaces).
          </small>
        </div>
        <div>
          <label for="ToLocation">To</label>
          <input
            type="text"
            name="ToLoc"
            class="form-control"
            formControlName="toLoc"
          />
          <small
            *ngIf="
              !searchForm.get('toLoc').valid && searchForm.get('toLoc').touched
            "
          >
            Please enter the required field*
          </small>
          <small *ngIf="searchForm.get('toLoc').hasError('minlength')">
            Minimum length should be 3 characters.
          </small>
          <small *ngIf="searchForm.get('toLoc').hasError('maxlength')"
            >Maximum length should be 50 characters.</small
          >
          <small *ngIf="searchForm.get('toLoc').hasError('invalidName')">
            Invalid name format (only letters and spaces).
          </small>
        </div>
      </div>
      <button type="submit" [disabled]="!searchForm.valid">Search</button>
    </div>
  </form>
</div>
