.container {
  margin: 0px;
  padding: 0px;
}
.form {
  background-color: white; /* Set the background color to white */
  border: 1px solid #ccc; /* Add a border for separation */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: 35vh;
  padding: 10px;
  margin-right: 0%;
  padding-right: 0%;
}
.form div {
  margin: 5px;
}
/* .col1 {
  display: flex;
} */
.date {
  margin: 50px;
}
.date input {
  width: 70%;
}
button {
  margin-left: 5px;
  margin-top: 10px;
  width: 70px;
  height: 30px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}
