.container {
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

small {
  color: red;
}
button:hover {
  color: black;
  border: 1px solid rgb(245, 229, 195);
  background-color: rgb(245, 229, 195); /* Background color on hover */
}
button {
  width: 8vw;
  height: 5vh;
  border-radius: 5px;
  background-color: rgb(190, 166, 113);
  color: white;
  font-weight: bold;
  border: 1px solid rgb(190, 166, 113);
  margin-top: 5vb;
  cursor: pointer;
}
