.container {
  margin: 0px;
  padding: 0px;
  /* width: 100%; */
  display: flex;
  gap: 10vb;
  margin-top: 10vb;
}
.search {
  width: 25%;
  height: 25%;
}
.firLine {
  display: flex;
  gap: 10px;
  position: relative;
}
.firLine p {
  position: absolute;
  top: 0;
  right: 0;
}
.date {
  display: flex;
}
.contentval {
  margin: 30px;
  width: 750px;
  padding: 20px;
  background-color: rgb(250, 246, 238);
  border-radius: 10px;
  border: 1px solid rgb(150, 126, 76);
}
.Price {
  color: rgb(150, 126, 76);
  font-weight: bolder;
  font-size: 18px;
}
h3 {
  color: rgb(150, 126, 76);
  font-weight: bolder;
}
.AvaSeats {
  color: green;
}
.BookedSeats {
  color: red;
}
.contentval {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 10px auto;
  margin-left: 0px;
  padding-left: 0px;
  font-family: Arial, sans-serif;
}
td {
  padding: 5px;
  text-align: left;
}
button {
  width: auto;
  height: 4vh;
  border-radius: 5px;
  background-color: rgb(190, 166, 113);
  color: white;
  font-weight: bold;
  border: 1px solid rgb(190, 166, 113);
  margin-top: 5vb;
  cursor: pointer;
}
input {
  width: 100px;
}
.showValue {
  text-decoration: underline;
}
.DisplaySeat {
  text-transform: capitalize;
  font-size: 15px;
}
.header {
  background-color: rgb(190, 166, 113);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
}
.header * {
  display: inline;
}
.header button {
  margin: 20px;
  background-color: rgb(190, 166, 113);
  border: none;
  color: white;
}
#value {
  margin-left: 1000px;
}
