.container {
  padding: 5vb;
  padding-bottom: 0%;
  background-color: rgb(247, 233, 203);
  width: 50vb;
  height: auto;
  border-radius: 10px;
}
.form-group label {
  display: block;
  font-size: 15px;
  font-weight: bold;
}
.pass {
  margin-top: 4vh;
}
.form-group div input {
  margin-top: 5px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(190, 166, 113);
}
button {
  width: auto;
  height: 4vh;
  border-radius: 5px;
  background-color: rgb(190, 166, 113);
  color: white;
  font-weight: bold;
  border: 1px solid rgb(190, 166, 113);
  margin-top: 5vb;
  cursor: pointer;
}
input.ng-invalid.ng-touched {
  border: red 1px solid;
}
small {
  color: red;
}
.error {
  margin-top: 5px;
  color: rgb(190, 166, 113);
  font-weight: bolder;
}

.form-group div input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.form-group div input[type="radio"] + label::before {
  width: 15px;
  height: 15px;
}

.form-group div label {
  display: flex;
  align-items: center;
}

.form-group div input[type="radio"]:checked + label {
  font-weight: bold;
  color: #007bff;
}

.same-line {
  display: inline-block;
  margin-right: 10px;
}
.buttonCancel {
  margin-left: 10px;
}
#upiId {
  width: 250px;
  height: 25px;
}
.status {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
